<head>
<link rel="stylesheet" href="\stylesheets\styling.css"/>
</head>

<Body onload="doThis()">   
{{#each items}}
    <div id="productImage">
        <div class=card><img src="{{this.imageUrl}}"></div>
    </div>

    <div class="text">
        <center>
        {{this.title}}<br><br>
      £{{this.price}}<br><br>
      <button onClick="fetch('/cart/{{this.id}}', {method: 'POST'}), alert('Added to Cart')">Add to Cart</button>
        <br><br><br>{{this.desc}}</center>
    </div>
{{/each}}

<script>
    const button = document.querySelector("button")
</script>


</Body>